body {
	color: white;
	font-size: 14px sans-serif;
	background-color: dimgrey;
	font-family: "Sans-serif", bold;
}

h1 {

	font-size: 50px;
	margin: 40px 0px 0px; /*top left/right bottom*/
	font-family: 'Rye-Regular';
}


.the-table{
	background-color: #277714;
	border: 5px solid #dcdcdc;
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0px;
}

.card{
	/* height: 120px; */
	/* background-color: #fff; */
	/* padding: 10px; */
	border: 2px solid #277714;
}

.card img{
	max-width: 100%;
	max-height: 100%;
}

.dealer-hand-wrapper, .player-hand-wrapper{
	margin-bottom: 20px;
}

@font-face {
	font-family: 'Rye-Regular';
	src: url('../fonts/Rye-Regular.ttf');
	font-weight:400;
}